.custom-layout {
  .custom-header {
    .ant-tabs-nav {
      margin: 0;

      &::before {
        border: none;
      }
    }

    .ant-tabs-tab-active {
      //   background-color: #fff;
      .nav-item {
        font-weight: 600;
      }
    }

    .ant-tabs-tab-btn {
      color: #fff !important;
    }

    .ant-tabs-ink-bar {
      background-color: #fff;
    }

    .nav-item {
      font-size: 30px;
    }
  }

  .header-nav {
    a {
      position: relative;
      color: #fff;
      min-width: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      font-weight: 500;

      &:hover {
        font-weight: 600;
      }

      &.active {
        font-weight: 800;

        &:before {
          position: absolute;
          content: "";
          width: 50px;
          height: 1px;
          background-color: #fff;
          bottom: 10px;
          left: calc(75% - 50px);
        }
      }
    }
  }

  .main-content {
    padding-inline: 48px;
    overflow: hidden;
    height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);

    &.dashboard {
      background-image: url("https://img.freepik.com/premium-photo/clean-vector-illustration-team-presenting-design-blog-interesting-composition_941097-98716.jpg?w=1060");
      background-repeat: no-repeat;
      background-size: 100%;
      // background-size: 70%;
      background-position: 50% 50%;
      // background-size: 100%;
      // background-position: center;
      width: 100%;
      height: 100%;
      padding-inline: 0px;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
