.Page404 {
  background-image: url("../../../assets/images/404_page_cover.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
