.custom-header {
  .ant-form-item {
    margin: 0;
  }

  .custom-header-breadcrumb {
    display: flex;
    align-items: center;
  }
}
.divider-custom {
  margin: 12px 0;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block; // centers text inside tabs
  flex: 1;
  text-align: center;
  justify-content: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}

.ant-card-body {
  padding: 12px;
}

.chitiet-label {
  min-width: 110px;
}
